[submodule "dependencies/cinder"]
	path = dependencies/cinder
	
	url = https://github.com/m1keall1son/Cinder.git

[submodule "dependencies/catch"]
	path = dependencies/catch
	url = https://github.com/philsquared/Catch.git
